.omer{
    border: 5px solid lightblue;
    background-color: lightcyan;
    font-size: 50px;
    margin:5px 50px 5px 50px;

    

    text-align: center;


}
.omer3{
    margin:5px 50px 5px 50px;
}
.omer1{
    margin: 5px 50px 5px 50px;
}
.omer2{
    margin:5px 50px 5px 50px ;
}
#Contact{
    margin:5px 50px 5px 50px ;

}
#About{
    
    margin:5px 50px 5px 50px ;

}
#More{
    
    margin:5px 50px 5px 50px ;
}



   


    



